<!DOCTYPE html>
<html>

<head>
  <title>Spelloff</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="main.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="src/controller.js"></script>
</head>
  <body>

    <div ng-app="spelloff" ng-controller="myCtrl">
      <div class="main-container">
        <div class="name">
          <h4><input placeholder="your name" ng-model="name"></h4>
        </div>
        <h1>{{target}}</h1>
        <div class="score">
          <ul>
            <li ng-repeat="(key, value) in scores">
              {{key}}: {{value}}
            </li>
          </ul>
        </div>
        <ul>
          <li ng-repeat="x in solutions">{{x}}</li>
        </ul>
        <input class="main-entry" ng-keypress="attemptWord($event)" ng-model="attemptedWord" autofocus>
      </div>
      <p class="error">{{errorText}}</p>
    </div>

  </body>
</html>
