.main-container {
    border: 2px solid blue;
}

.name {
    padding-left: 15px;
    padding-top: 10px;
    text-align: center;
}

.target {
    text-align: center;
    letter-spacing: .5em;
}

.score {
    text-align: center;
}

.solutions {
    text-align: center;
}

th {
  text-align: center;
}

.main-entry {
    border: 2px solid blue;
}

.main-entry-container {
    text-align: center;
}

.score {
    padding-top: 15px;
    padding-right: 15px;
    text-align: right;
}

ul {
    padding: 0;
    list-style: none;
}

.row {
    padding-bottom: 15px;
}

.last-row {
    padding-bottom: 0px;
}

.error {
    color: red;
    text-align: center;
}

.login {
    background
    text-align: center;
}

.vcenter {
    text-align: center;
    position: absolute;
    top: 42%;
}

@media (min-width: 768px) {
    .name {
        text-align: left;
    }
    .score {
        text-align: right;
        padding-top: 15px;
    }
}
