.name {
    padding-left: 15px;
    padding-top: 10px;
    text-align: center;
}

table {
  border: 0;
}

.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.target {
    text-align: center;
    font-size: 4em;
}

.score {
    font-size: 2em;
    text-align: center;
}

.solutions {
    text-align: center;
    font-size: 1.5em;
}

.highlighted {
  background-color: #C1FFC1;
}

.highlightedScore {
  color: #137B13;
}

.glow {
    color: red;
}

th {
  text-align: center;
}

input {
  box-shadow: none !important;
  outline: none;
  border: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  border-bottom: solid 2px #969696;
  padding: 5px;
}

.main-entry {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 30px;
  width: 75%;
}

.main-entry-container {
    text-align: center;
}

.score {
    padding-top: 15px;
    padding-right: 15px;
    text-align: right;
}

ul {
    padding: 0;
    list-style: none;
}

.row {
    padding-bottom: 15px;
}

.last-row {
    padding-bottom: 0px;
}

.error {
    color: red;
    text-align: center;
}

@media (min-width: 768px) {
    .name {
        text-align: left;
    }
    .score {
        text-align: right;
        padding-top: 15px;
    }
}

span {
  transition: color 0.35s ease;
}
